easydict==1.13
Flask==3.1.1
Flask_Login==0.6.3
flask_sqlalchemy==3.1.1
ipdb==0.13.13
matplotlib==3.8.3
mediapipe==0.10.9
motmetrics==1.4.0
numpy==1.26.4
opencv_contrib_python==4.10.0.84
opencv_python==4.9.0.80
opencv_python_headless==4.9.0.80
pandas==2.3.0
python_bcrypt==0.3.2
scipy==1.12.0
SQLAlchemy==2.0.27
tensorflow==2.19.0
tensorflow_intel==2.13.0
torch==2.5.1
torchvision==0.20.1
ultralytics==8.3.98
